h1 {
  text-align: center;
  color: grey;
  border-style: solid;
  border-width: 4px;
  background-color: lightgrey;
  }

h2 {
  text-align:center;
  color: white;
  border-style: solid;
  border-width: 2px;
  background-color:darkgrey;
  }

h3 {
  color: gray;
  font-size: 20px;
  
  
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: lightgrey;
  padding: 10px;
  }

.grid-item {
  background-color: lightgrey;
  border: 1px solid grey;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
