body {
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas:
    "header header header"

		"nav section aside"

		"footer footer footer";
	grid-template-rows: 120px 1fr 70px;
	grid-template-columns: 15% 1fr 18%;
	grid-gap: 5px;
  height: 1,5em                                                                                                                                                                                  ,;
  margin: 5px;
  text-align:center;
	background-image: linear-gradient( to bottom right, LightSkyBlue , Lightblue);
}

header {
	background: #707070;
	grid-area: header;
	border-radius: 25px;
}

nav {
	background: #707070;
	grid-area: nav;
	border-radius: 25px;
}

section {
	background: #707070;
	grid-area: section;
	border-radius: 25px;
}

aside {
	background: #707070;
	grid-area: aside;
	border-radius: 25px;
}

footer {
	background: #707070;
	grid-area: footer;
	height: 200px;
	border-radius: 25px;
}

header, nav, section, aside, footer {
	padding: 5px;
}

h1 {
  color: lightblue;
  font-size: 30px;
  text-align: center;
  }

h2 {
  color: lightblue;
  font-size: 17px;
  text-align: center;
  }

h3 {
  color: lightblue;
  font-size: 20px;
  text-align: center;
  }

ul {
  list-style-type:none;
  margin: 7px;
  padding: 7px;
  font-size:20px;
  text-color: lightblue;
  }

li a {
  display: block;
  width: 80%;
  margin: 20px;
}

li a:hover {
  background-color: Lightblue;
  color: #707070;
}

a {
  color: lightblue;
  text-decoration: none;
 }

.grid-container {
  display: grid;
  grid-row-gap: 50px;
}

.button {
  background-color: Lightblue;
  border: none;
  color: #707070;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

p {
  color: lightblue;
  font-size: 15px;
  text-align: center;
	font-weight: bold;
  }

  .pictures {
	  border-radius: 50%;
	}
