body {
  background-color: BlanchedAlmond;
  }

h1 {
  color: SaddleBrown;
  text-align: right;
  text-align: 16px;
  {

p {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-size: 14px;
  text-align: right;
}
